[Unit]
Description=nwjsTest startup service   

[Service]
User=artificiel
ExecStart=/home/artificiel/SourceControl/nwjsTest/scripts/nwjsApp1.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
